{% extends "base_generic.html" %}

{% block content %}
  <h1>Director: {{ director.first_name }} {{ director.last_name }}</h1>

  <p><strong>Date of birth:</strong> {{ director.date_of_birth }} </p>
  <p><strong>Date of death:</strong> {{ director.date_of_death }} </p>

  <div style="margin-left:20px;margin-top:20px">
    <h2>Movies</h2>

    {% for movie in director.movie_set.all %}
      <hr>
      <p><strong><a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></strong>
      <p> {{ movie.summary }}</p>
    {% endfor %}
  </div>

{% endblock %}
